/* 
.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #00B4CC;
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  /* .wrap{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }  */

  .search-input{
    /* background-color:red; */
    /* border:none;
    border-bottom:1px solid bla */
    border-radius: 10px;
  }
  .actbtn{
    font-size: 10px;
  }
  .modal{
    /* width:1000px; */
    padding:0;
    /* background-color:red */
  }
  .modal-content{
    width:100%;
  }
  .modal-dialog{
    width:100%
  }
  /* .big-modal */

  