body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
NavLink {
  text-decoration: none;
}
.banner{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.9));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 625px;
}
@media only screen and (max-width: 768px) {
  .banner{
    background-image: linear-gradient(rgba(45, 39, 39, 0.7), rgba(0,0,0,0.9));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 1005px;
  }
}
/* Carousel */
.carousel {
  z-index: -99;
} /* keeps this behind all content */
.carousel-item {
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
#c-one {
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.9));
  background-size: cover;
  -moz-background-size: cover;
}
#c-two {
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.9));
  background-size: cover;
  -moz-background-size: cover;
}
#c-three {
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.9)), url('./assets/images.jpg');
  background-size: cover;
  -moz-background-size: cover;
}
.carousel .active .left {
  left: 0;
  opacity: 0;
  z-index: 2;
}
/* Carousel */
.icon{
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

/* main content */
#page-content-wrapper {
  width:100%;
  position:absolute;
  padding-left: 50px;
}
#page-content{
  /* padding:60px; */
  padding-top:0px;
}

/* sidebar minimized */
#sidebar-wrapper {
  background:#444444;
  display:block;
  position:fixed;
  height:100%;
  z-index:1;
}
#sidebar-wrapper ul {
  margin:0px;
  padding:0px;
}
#sidebar-wrapper ul li {
  list-style:none;
}
#sidebar-wrapper ul li i {
  font-size:24px;
}
#sidebar-wrapper ul li span:nth-child(2) {
  display:none;
}
#sidebar-wrapper ul li a {
  display:block;
  padding:12px 12px;
  width:50px;
  color:#eeeeee;
  background:#222222;
  border-bottom:1px solid #444444;
}
#sidebar-wrapper ul li a:hover {
  color: #aaaaaa;
  background-color: #444444;
  text-decoration:none;
}
#sidebar-header {
  height:50px;
  background:#444444;
}
#sidebar-header h3 {
  display:none;
}
#sidebar-btn {
  display:inline-block;
  vertical-align:middle;
  cursor:pointer;
  position:absolute;
  top:0px;
  right:0px;
}
#sidebar-btn i {
  font-size:18px;
  color:#ffffff;
  padding:16px;
}
/* set element styles to fit tablet and lesser(phones) */
@media (max-width: 800px) {
  /* sidebar visible */
  #sidebar-wrapper.visible {
      left:0px;
      margin-right: auto;
  }
  #sidebar-wrapper.visible ul li span:nth-child(2) {
      display:inline-block;
  }
  #sidebar-wrapper.visible ul li i {
      color: #777777;
      font-size:14px;
      min-width: 20px;
      text-align: center;
  }
  #sidebar-wrapper.visible ul li a {
      background:#222222;
      color:#cccccc;
      border-bottom:1px solid #444444;
      display:block;
      width:200px;
      padding:15px;
      font-size:14px;
  }
  #sidebar-wrapper.visible ul li a:hover {
      background:#777777;
      color:#eeeeee;
  }
  #sidebar-wrapper.visible h3 {
      display:inline-block;
      margin:0px;
      color:#fff
  }
  #wrapper.visible #page-content-wrapper {
      padding-left:200px;
  }
  #wrapper.visible .navbar {
      margin-left:200px;
  }
}
@media screen and (min-width: 800px) {
  /* sidebar visible */
  #sidebar-wrapper.visible {
      left:0px;
  }
  #sidebar-wrapper.visible ul li span:nth-child(2) {
      display:inline-block;
  }
  #sidebar-wrapper.visible ul li i {
      color: #777777;
      font-size:14px;
      min-width: 20px;
      text-align: center;
  }
  #sidebar-wrapper.visible ul li a {
      background:#222222;
      color:#cccccc;
      border-bottom:1px solid #444444;
      display:block;
      width:200px;
      padding:15px;
      font-size:14px;
  }
  #sidebar-wrapper.visible ul li a:hover {
      background:#777777;
      color:#eeeeee;
  }
  #sidebar-wrapper.visible h3 {
      display:inline-block;
      margin:0px;
      color:#fff
  }
  #wrapper.visible #page-content-wrapper {
      padding-left:200px;
  }
  #wrapper.visible .navbar {
      margin-left:200px;
  }
}
.cursor-pointer{
  cursor: pointer;
}
#box1:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
.flip-container{
  perspective: 1000px;
}
.flip-container:hover .flipper, .flipper-container.hover .flipper{
  transform: rotateY(180deg);
}
.flipper{
  transition: .85s;
	transform-style: preserve-3d;
}
.frontView{
  z-index: 2;
  transform: rotateY(0deg);
}
.backView{
  background-color: black;
  transform: rotateY(180deg);
}
.frontView, .backView {
  position: absolute;
  left: 0;
  top: 0;
  backface-visibility: hidden;
}